article {
    min-height: 100vh;
    border: solid green 1px;
    margin: 1em;
}
#grid {
    display: grid;
    grid-template-columns: repeat(4fr, 1fr);
    border: solid black 1px; 
}

#grid > div {
    border: solid gray;
    width: 10em;
    height: 10em;
}

#grid > div > img {
    width: 9em;